@page "/client-hello"
@rendermode InteractiveWebAssembly

<p>Welcome to your client side homepage</p>
<p>This is a good starter page for the client side</p>
<p>Feel free to customize it as you see fit!</p>