<button type="submit" name="__passkeySubmit" @attributes="AdditionalAttributes">@ChildContent</button>
<passkey-submit
    operation="@Operation"
    name="@Name"
    email-name="@EmailName"
    request-token-name="@_tokens?.HeaderName"
    request-token-value="@_tokens?.RequestToken">
</passkey-submit>